body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    border: 2px solid black;
    max-width: 600px;
    width: 100vh;
    margin-top: 40px;
}

header {
    background-color: gray;
    border: 2px solid black;
}

#search {
    background-color: white;
    padding: 4px;
    padding-right: 20px;
    border-radius: 25%;
}

h2 {
    text-align: center;
}

#icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer {
    background-color: gray;
    height: 20%;
    border: 2px solid black;
}

#row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

#scores {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 60%;
}

#fresh {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;  
}

#fresh:hover {
    background-color: #0056b3;
    font-weight: 800;
}

#column-8 {
    width: 60%;
}

#recentScores {
    list-style: none;
    align-items: start;
    border: 1px solid black;
    padding: 0;
}

#recentScores li:nth-child(even) {
    padding-left: 0;
    background-color: grey;
}

#add {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#name {
    margin-bottom: 15px;
    border-radius: 4px;
}

#score {
    margin-bottom: 15px;
}

#add button:hover {
    background-color: #218838;
    font-weight: 600;
    font-size: 15px;
  }